h1{
  text-align: center;
}

section#recruit-board{
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}

table.recruit-board-item{
  border: 2px solid black;
  min-width:800px;
  width: 80vw;
  min-height: 300px;
}

