h1{
  text-align: center;
}

.recruit-board-section{
	width :1024px;
	margin:20px auto;
}

table.recruit-board-item{
  border: 2px solid black;
  min-width:800px;
  width: 100%;
  min-height: 300px;
}

div.write-recruit-button-wrapper{
  display: flex;
}

.write-recruit-button-wrapper #write-button{
  max-width: 800px;
  width: 60vw;
  min-width: 500px;
  margin: 15px auto 10px;
  height: 45px;
  font-size: 25px;
}
