@charset "UTF-8";

h2 {
	text-align: center;
	font-size: 70px;
	font-weight: bold;
}


.edit-button {
	text-align: right;
}

.company-review-list {
	align-content: center;
	margin: 0 auto;
	border-spacing: 30px;
}

.company-review-list th {
	font-size: 30px;	
}

.company-review-list td {
	font-size: 30px;
	padding-left: 40px;
}
