h1{
  text-align: center;
}
h2{
	text-align: center;
}
section{
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
#aaaa{
	width: 100px;
	text-align: center;
}
#tbl-company-review{
	border-spacing: 30px;
}
/* #tbl-company-review{
	border: 1px solid black;
	border-collapse: collapse;
	display: flex;
	border-spacing: 15px;
}
#tbl-company-review th{
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 15px;
}
#tbl-company-review td{
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 15px;
} */

.company-review th {
	border: 1px solid black;
	border-collapse: collapse;
}
.company-review td {
	border: 1px solid black;
	border-collapse: collapse;
}
#stars{
	border: 1px 0px;
}
#write-button {
	align-items: flex-end;
}

#pagebar {
	text-align: center;
}

#companyReview-btn-add {
	text-align: right;
	
}
#account{
	position : relative;
	text-align : right;
	width : 100%;
}
#account > a{
	margin : 10px;
	font-size : 15pt;
	text-decoration: none;
}
#logodiv{
	position : relative;
	text-align : left;
	margin-top : 50px;
	margin-left : 200px;
}
#logo{
	width : 400px;
}
#superlogodiv{
	position : relative;
	text-align : center;
	margin-top : 50px;
}
#superlogo{
	width : 400px;
}
#searchBoxdiv{
	position : relative;
	text-align : center;
	
}
#searchBox{
	height : 30px;
	width : 700px;
	margin-bottom : 50px;
}
#end{
	text-align: right;
}
#contentBox{
	width: 400px;
}
#content-p{
	text-align: right;
}
#copyright{
	position : relative;
	text-align : center;
	margin-top: 20px;
	padding-bottom : 20px;
} 