@charset "UTF-8";

#company-review-view-container{
  width: 1024px;
  margin: 30px auto;
}

h2 {
	text-align: center;	
}
.edit-button {
	text-align: right;
}

h1 {
	text-align: center;
	font-size: 40px;
}
.company-review-list {
	font-size: 20px;
  margin: 10px auto;
}
.company-review-list th {
	height: 40px;
	padding-right: 50px;
}