@charset "UTF-8";
h2 {
	text-align: center;
	font-size: 70px;
	font-weight: bold;
}
#tbl-salary-review th{
	font-size: 30px;
}
#tbl-salary-review td{
	font-size: 30px;
	padding-left: 40px;
		
}
#tbl-salary-review td input {
	width: 150px;
	height: 25px;
	align-content: center;
}
#tbl-salary-review td select {
	width: 158px;
	height: 31px;
}